In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('../../data/raw/heart_attack_prediction_dataset.csv')

### Handle Categorical Features

In [4]:
categorical_features = [x for x in data.columns if data[x].dtype =='object']
categorical_features

['Patient ID',
 'Sex',
 'Blood Pressure',
 'Diet',
 'Country',
 'Continent',
 'Hemisphere']

In [5]:
# drop redundant features
df = data.drop(columns = ['Patient ID', 'Country', 'Continent', 'Hemisphere'])
df.head()

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,...,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk
0,67,Male,208,158/88,72,0,0,1,0,0,...,0,0,9,6.615001,261404,31.251233,286,0,6,0
1,21,Male,389,165/93,98,1,1,1,1,1,...,1,0,1,4.963459,285768,27.194973,235,1,7,0
2,21,Female,324,174/99,72,1,0,0,0,0,...,1,1,9,9.463426,235282,28.176571,587,4,4,0
3,84,Male,383,163/100,73,1,1,1,0,1,...,1,0,9,7.648981,125640,36.464704,378,3,4,0
4,66,Male,318,91/88,93,1,1,1,1,0,...,1,0,6,1.514821,160555,21.809144,231,1,5,0

In [7]:
categorical = [x for x in df.columns if df[x].dtype =='object']
categorical

['Sex', 'Blood Pressure', 'Diet']

In [10]:
# count the instances of each class of categorical features
data["Sex"].value_counts()

Sex
Male      6111
Female    2652
Name: count, dtype: int64

In [11]:
data["Blood Pressure"].value_counts()

Blood Pressure
101/93     8
146/94     8
145/104    7
106/64     7
94/109     7
          ..
163/70     1
101/68     1
124/62     1
161/78     1
158/71     1
Name: count, Length: 3915, dtype: int64

In [12]:
data["Diet"].value_counts()

Diet
Healthy      2960
Average      2912
Unhealthy    2891
Name: count, dtype: int64

In [13]:
# divide Blood Pressure feature into two columns
df[['Systolic Pressure', 'Diastolic Pressure']] = df['Blood Pressure'].str.split('/', expand=True).astype(int)
df.head()

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,...,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk,Systolic Pressure,Diastolic Pressure
0,67,Male,208,158/88,72,0,0,1,0,0,...,9,6.615001,261404,31.251233,286,0,6,0,158,88
1,21,Male,389,165/93,98,1,1,1,1,1,...,1,4.963459,285768,27.194973,235,1,7,0,165,93
2,21,Female,324,174/99,72,1,0,0,0,0,...,9,9.463426,235282,28.176571,587,4,4,0,174,99
3,84,Male,383,163/100,73,1,1,1,0,1,...,9,7.648981,125640,36.464704,378,3,4,0,163,100
4,66,Male,318,91/88,93,1,1,1,1,0,...,6,1.514821,160555,21.809144,231,1,5,0,91,88

In [14]:
# drop Blood Pressure feature column
df = df.drop(columns=['Blood Pressure'])

### One-Hot Encode Categorical Features